body {
  background-color: #a7bcb9;
  color: #41506b;
  font-family: "JetBrains Mono", monospace;
  background: linear-gradient(
    90deg,
    rgba(215, 179, 252, 1) 13%,
    rgba(173, 216, 250, 1) 54%,
    rgba(201, 249, 210, 1) 91%
  );
}

footer {
  color: #4c5d7a;
  text-align: center;
  font-size: 12px;
}

a {
  text-decoration: none;
  font-size: 25px;
}

li:first-letter {
  text-transform: capitalize;
}

button {
  border: #616166 solid 1px;
  border-radius: 3px;
}

#search-form {
  padding-left: 22px;
}

.weather-app {
  border: #41506b solid 2px;
  border-style: ridge;
  border-radius: 6px;
  margin-top: 30px;
  max-width: 100%;
  background-color: #c1c1ed;
}

.col-sm {
  padding-left: 0px;
  padding-right: 0px;
}

.tomorrow-day-forecast:first-letter {
  text-transform: capitalize;
}

.search-button {
  background-color: #e3f6f5;
}

.current-weather {
  list-style: none;
}

.weather-temperature-deck .active {
  color: #41506b;
  cursor: default;
}

.weather-temperature-deck .active:hover {
  text-decoration: none;
}

.current-city {
  font-weight: bold;
  font-size: 28px;
  color: #444b60;
}

.temperature {
  font-size: 55px;
}

.information {
  font-size: 16px;
}

#date {
  font-size: 18px;
}

.current-degrees {
  font-size: 35px;
}

img.icon-class-top {
  width: 135px;
}

.row {
  text-align: center;
}

.col {
  padding: 0px;
  margin: 0 auto;
}

.tomorrow {
  border-right: 2px solid #41506b;
  height: 96px;
}

.day-after-tomorrow {
  display: block;
  border-right: 2px solid #41506b;
  height: 96px;
}
.icon {
  color: #fde933;
  font-size: 50px;
}

.github-link {
  text-decoration: none;
  font-size: 12px;
}

.tomorow-degrees-max {
  font-size: 20px;
}

.tomorrow-day-forecast {
  font-size: 16px;
}
