body {
  background-color: #a7bcb9;
  color: #41506b;
  font-family: "JetBrains Mono", monospace;
}

div {
  background-color: #a7bcb9;
}

footer {
  color: #4c5d7a;
  text-align: center;
  font-size: 12px;
}

a {
  text-decoration: none;
  font-size: 25px;
}

li:first-letter {
  text-transform: capitalize;
}

.tomorrow-day-forecast:first-letter {
  text-transform: capitalize;
}

.array {
  background-color: #e3f6f5;
}

.search-button {
  background-color: #e3f6f5;
}

.current-weather {
  list-style: none;
}

.weather-temperature-deck .active {
  color: #41506b;
  cursor: default;
}

.weather-temperature-deck .active:hover {
  text-decoration: none;
}

.current-city {
  font-weight: bold;
}

.current-degrees {
  font-size: 35px;
}

.row {
  text-align: center;
  background-color: white;
}

.col {
  padding: 0px;
  margin: 0 auto;
}

.tomorrow {
  border-right: 2px solid #41506b;
  height: 96px;
}

.day-after-tomorrow {
  display: block;
  border-right: 2px solid #41506b;
  height: 96px;
}
.icon {
  color: #fde933;
  font-size: 50px;
}

.github-link {
  text-decoration: none;
  font-size: 12px;
}
